#main {
  background-color: white;
}


.header {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: black;
  font-size: 15px;
  border-radius: 15px;
  margin-top: 10px;
}



/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  border-radius: 25px;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 40px 16px;
  text-decoration: none;
  font-size: 17px;
  height: 100px;
  border-radius: 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(122, 203, 196);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0499aa;
  color: white;
}


/* This section is for the my work seciton cards */


* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card  {
  box-shadow: 0 4px 8px 0 black; /* this adds the "card" effect */
  padding: 10px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


.About-me-Title {
  background-color: aquamarine;
  height: 50px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;

}

.myback {
  background-color: aquamarine;
  padding: 10px;
  height: 70px;
  text-align: center;
  border-radius: 10px;
}

#dark {
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
}

#light {
  padding: 10px;
  font-size: 20px;
  margin-top: 1px;
  background-color: white;
  color: black;
}




















.contact-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200%;
  margin: 15px;
  text-align: center;
  border-radius: 15px;
}

.title {
  color: grey;
  font-size: 100%;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 15px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 20%;
  font-size: 10px;
  border-radius: 15px;
}

a {
  text-decoration: none;
  font-size: 120%;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
  border-radius: 15px;
}


.My-Work-Title {
  background-color: aquamarine;
  text-align: center;
  padding: 10px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#cardimg {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.contact-card {
  background-color: aquamarine;
  padding: 10px;
}

.contact-card img {
  border-radius: 5px;
}

.contact-card button {
  font-size: 15px;
}